<!DOCTYPE html>
<html>
  <head>
    <title>Playback</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id="navArea">
        <nav>
          <div class="inner">
            <ul>
              <li><%= link_to 'Home', 'home'%></li>
              <li><%= link_to 'Top artists', 'top_artists'%></li>
              <li><%= link_to 'Top tracks', 'top_tracks'%></li>
              <li><%= link_to 'Top genres', 'top_genres'%></li>
              <li><%= link_to 'Login', 'http://localhost:8888/'%></li>
            </ul>
          </div>
        </nav>

        <div class="toggle_btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        
        <div id="mask"></div>
        a
      </div>

      

      <script>
         (function($) {
  var $body   = $('body');
  var $btn   = $('.toggle_btn');
  var $mask  = $('#mask');
  var open   = 'open'; // class
  // menu open close
  $btn.on( 'click', function() {
    if ( ! $body.hasClass( open ) ) {
      $body.addClass( open );
    } else {
      $body.removeClass( open );
    }
  });
  // mask close
  $mask.on('click', function() {
    $body.removeClass( open );
  });
} )(jQuery);
      </script>
    </header>
    <%= yield %>
  </body>
</html>
